
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#fcf8f1 ; 
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 380px;
  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.card h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #734338; 

}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 14px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #558f45; 
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.link {
  margin-top: 12px;
  font-size: 14px;
  color: #734338;
  cursor: pointer;
  display: block;
}

.link:hover {
  text-decoration: underline;
}

.mensagem {
  margin-top: 10px;
  font-size: 13px;
  color: #374151;
}
